body {
    margin: 0;
    padding: 20px;
    font-family: 'Alexandria', sans-serif;
    background-color: #141414;
    color: #f57273;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 5px;
}

header {
    text-align: center;
    font-family: 'Alexandria', sans-serif;
    font-weight: 600;
}

h1 {
    font-size: 3em;
}

section {
    margin-top: 20px;
}

p {
    text-align: center;
    line-height: 1.6;
    font-size: 1.5em;
    font-weight: 400;
}

footer {
    margin-bottom: 20px;
    text-align: center;
}

a {
    color: #00bfff;
}

    nav {
      background-color: #333;
      overflow: hidden;
    }

    nav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .title-bar {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .title-bar a {
        color: #f57273;
        text-decoration: none;
        margin: 0 10px;
    }

    .title-bar span {
        color: white;
        margin: 0 5px;
    }

    .title-part {
        margin-right: 10px;
    }

    .title-part:last-child {
        margin-right: 0;
    }
